*.swp
*.swo
*.tmp
*.bak
*.log

.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
out/
Debug/
Release/
*.pdb

*.nupkg
*.snupkg
packages/

*.nuget/

project.lock.json
project.fragment.lock.json
*.ide*
*.rsuser
*.ruleset

iisexpress/

*.config.local
*.dbmdl
*.jfm

TestResult*/
*.trx
*.coverage

Thumbs.db
.DS_Store
*.class
*.pyc
*.so